{{#each featureCategory}}
<div class="jumbotron">
    <h1 class="display-6 txtFeature">{{this.name}}</h1>
    <hr class="my-4 txtFeature">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="row">
                {{#each ../images}}
                {{#if_equal this.category ../this.code}}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title d-flex justify-content-between align-items-center">
                                    {{this.name}}
                                </h4>

                                <p> {{this.description}}</p>
                                <a href="{{this.url}}" data-gallery="A_{{../this.code}}" class="col-sm-4" data-toggle="lightbox" data-type="image" data-title="{{this.name}}" data-footer="{{this.description}}">
                                    <img src="{{this.url}}" class="img-fluid">
                                </a>


                                <div class="d-flex justify-content-end">
                                    <a href="/images/edit/{{_id}}" class="btn btn-success ">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    &nbsp;
                                    <form action="/images/delete/{{_id}}/{{this.model}}?_method=DELETE&model={{this.name}}"
                                        method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                {{/if_equal}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{/each}}


{{#each featureCategory}}
<div class="jumbotron">
    <h1 class="display-6 txtFeature">{{this.name}}</h1>
    <hr class="my-4 txtFeature">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
                {{#each ../images}}
                {{#if_equal this.category ../this.code}}
                <a href="{{this.url}}" data-gallery="C_{{../this.code}}" class="col-sm-4" data-toggle="lightbox"
                    data-max-width="600" data-type="image" data-title="{{this.name}}"
                    data-footer="{{this.description}}">
                    <img src="{{this.url}}" class="img-fluid">
                </a>
                {{/if_equal}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{/each}}