<div class="row justify-content-end">
    <a href="/images/json/{{this.model}}/allcategory/{{this.year}}/true" title="Code images '{{this.modelName}}'" class="sync" target="_blank"><i class="fas fa-code" aria-hidden="true"></i></a>
    <a href="/images/json/{{this.model}}/allcategory/{{this.year}}/false" title="Sent images '{{this.modelName}}' to MySales" class="sync"><i class="fas fa-paper-plane" aria-hidden="true"></i></a>
</div>

{{#if_equal this.model 'allmodels'}}
{{#each featureCategory}}
<div class="jumbotron">
    <h1 class="display-6 txtFeature">{{this.name}}</h1>
    <hr class="my-4 txtFeature">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
                {{#each ../images}}
                {{#if_equal this.category ../this.code}}
                <a href="{{this.url}}" data-gallery="C_{{../this.code}}" class="col-sm-4" data-toggle="lightbox"
                    data-max-width="600" data-type="image" data-title="{{this.name}}"
                    data-footer="{{this.description}}">
                    <img src="{{this.url}}" class="img-fluid">
                </a>
                {{/if_equal}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
{{#each featureCategory}}
<div class="jumbotron">
    <div class="row justify-content-between">
        <h1 class="display-6 txtFeature">{{this.name}} : {{../this.modelName}} {{../this.year}}</h1>
        <div>
            <a href="/images/json/{{../this.model}}/{{this.code}}/{{../this.year}}/true" title="Code images '{{this.name}}'" target="_blank"><i class="fas fa-code" aria-hidden="true"></i></a>
            &nbsp;
            <a href="/images/json/{{../this.model}}/{{this.code}}/{{../this.year}}/false"  title="Sent images '{{this.name}}' to MySales"><i class="far fa-paper-plane"></i></a>
        </div>        
    </div>


    <hr class="my-4 txtFeature">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="row">
                {{#each ../images}}
                {{#if_equal this.category ../this.code}}
                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title d-flex justify-content-between align-items-center">
                                    {{this.name}}
                                </h4>

                                <p> {{this.description}}</p>
                                <a href="{{this.url}}" data-gallery="A_{{../this.code}}" class="col-sm-4" data-toggle="lightbox" data-type="image" data-title="{{this.name}}" data-footer="{{this.description}}">
                                    <img src="{{this.url}}" class="img-fluid">
                                </a>


                                <div class="d-flex justify-content-end">
                                    <a href="/images/edit/{{_id}}" class="btn btn-success ">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    &nbsp;
                                    <form action="/images/delete/{{_id}}/{{this.model}}/{{this.year}}?_method=DELETE"
                                        method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                                </br>
                            </div>
                            <div class="d-none d-sm-block">
                                <div class="card-footer">
                                    <div class="d-flex justify-content-center">
                                        {{#each this.versions}}
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="switch_{{this.code}}_{{../this._id}}" {{checked this.actv}} onchange="sendUpdateVersion('{{this.code}}','{{../this._id}}',this.checked)">
                                                <label class="custom-control-label" for="switch_{{this.code}}_{{../this._id}}">{{desc}}</label>
                                            </div>
                                        {{/each}}   
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if_equal}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{/each}}    
{{/if_equal}}



<script>
    function sendUpdateVersion(code, id,value){
        let data = {code,value}
        $.ajax({
            type: 'PUT',
            url: `/images/edit-versions_image/${id}`,
            contentType: 'application/json',
            data: JSON.stringify(data),
        }).done(function (resp) {   
           console.log('SUCCESS' + resp);
        }).fail(function (msg) {
            alert('FAIL');
        });
    }
</script>