<div class="row justify-content-end">
    <a href="/images/json/allcovers/allcategory/true" title="Code images cover '{{this.modelName}}'" class="sync" target="_blank"><i class="fas fa-code" aria-hidden="true"></i></a>
    <a href="/images/json/allcovers/allcategory/false" title="Sent images cover '{{this.modelName}}' to MySales" class="sync"><i class="fas fa-paper-plane" aria-hidden="true"></i></a>
</div>

<div class="col-md-12">
    <div class="row">
        {{#each images}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    {{#each ../vehicleCatalog}}
                        {{#if_equal this.codeHtml ../this.model}}

                        <h4 class="card-title d-flex justify-content-between align-items-center">
                            {{this.name}}
                        </h4>
                        <a href="/images/{{this.codeHtml}}">
                            <img src="{{../this.url}}" class="img-fluid">
                        </a>
                        {{/if_equal}}
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>