<div class="row justify-content-end">
    <a href="/images/json/allcovers/allcategory/true" title="Code images cover '{{this.modelName}}'" class="sync"
        target="_blank"><i class="fas fa-code" aria-hidden="true"></i></a>
    <a href="/images/json/allcovers/allcategory/false" title="Sent images cover '{{this.modelName}}' to MySales"
        class="sync"><i class="fas fa-paper-plane" aria-hidden="true"></i></a>
</div>

<div class="col-md-12">
    <div class="row">
        {{#each images}}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            {{#each ../vehicleCatalog}}
            {{#if_equal this.codeHtml ../this.model}}
            <div class="card" style="width: 24rem;">
                <a href="/images/{{this.codeHtml}}">
                    <img class="card-img-top" src="{{../this.url}}" alt="Card image cap">
                </a>
                <div class="card-body footer-cover">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{../this.description}}</p>
                    <a href="/images/{{this.codeHtml}}" class="btn btn-primary">Go</a>
                </div>
            </div>
            {{/if_equal}}
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>