<div class="col-lg-6 col-xl-4 mx-auto">
    <div class="card">
        <div class="card-header">New Image</div>
        <div class="card-body">
            <form action="/images/new-image" method="POST">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Name" autofocus>
                </div>                
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <input type="url" name="url" class="form-control" placeholder="Url">
                </div>     
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="category">Category</label>
                        </div>
                        <select class="custom-select" name="category">
                            {{#each featureCategory}}
                                <option value="{{this.code}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>     
              <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="category">Year</label>
                        </div>
                       <select class="custom-select" name="year" id="year">
                            {{#each yearCatalog}}
                                     <option value="{{this.codeYear}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>    
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="category">Model</label>
                        </div>
                       <select class="custom-select" name="model" id="model"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="switch_cover">Is Cover:</label>
                        </div>
                        <div class="custom-control custom-switch">
                            &nbsp;&nbsp;
                            <input type="checkbox" class="custom-control-input" name= "isCover" id="switch_cover" {{checked this.actv}}>
                            <label class="custom-control-label" for="switch_cover"></label>
                        </div> 
                    </div>  
                </div>    

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Save</button>
                </div>      
            </form>
        </div>
    </div>
</div>


<script>    

    function loadModelsByYear(year){
        let data = {year}
        $.ajax({
            type: 'GET',
            url: `/vehicles/${year}`,
            contentType: 'application/json',
            data: JSON.stringify(data),
        }).done(function (data) { 
            $("#model").empty();
            $.each(data,function(key, v) {
                $("#model").append('<option value='+ v.codeHtml+'>'+ v.name+'</option>');
            });  
        }).fail(function (msg) {
            alert('FAIL');
        });
    }

    $('#year').change(function() {
        loadModelsByYear($(this).val());
    });

    
    $(document).ready(function(){
         let year = $("#year").val();
         loadModelsByYear(year);
    });

   

</script>